<div>
    {{> header heading=title}}
    <div class="device-info">
        <h3>Device: {{device}}</h3>
        <p>Type: {{type}}</p>
    </div>
</div>
<div>
    <div>
      {{> results all=asciiData getData=getAsciiData raw=rawData}}
    </div>
</div>
