.toggle-cardWrite {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.closem {
    cursor: pointer;    
}

.myDropdownSideNav {
    opacity: 1;
    width: 300px;
    display: block;
    top: 100px;
    overflow-x: hidden;
    color: #333;
}

.myDropdownSideNav nav i{
    color: #333 !important;
}

.btnCenter {
    margin: 0 25%;
}

.dropHeight {
    display: none;
}

#navvy {
    position: fixed;
    top: 0;
    z-index: 900;
}

.user-container {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.user-data {
    width: 90vw;
    height: 90vh;
    border-radius: 12px;
    background-color: #f3f3f3;
    margin:  20px auto;
}

.user-close {
    transform: translateX(-20px) translateY(20px);
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .body-holder-artraun {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 899px) {
    .body-holder-artraun {
        margin-top: 50px;
    }
}